.nav-bar {
  background-color: rgb(246, 246, 246);
  box-shadow: 2px 0 10px rgba(0,0,0,0.2);

  position: fixed;
  top: 50%;
  left: 0;
  transform: translateY(-50%);

  height: 100vh;
  width: 300px;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}
.nav-bar h3 {
  margin-top: 20px;
  font-size: 26px;
}
.nav-bar-fast-browser {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;

  width: 80%;
  height: 50%;
  padding: 0;
  margin-top: 20px;
}
.nav-bar-fast-browser h4 {
  font-size: 22px;
  color: rgba(0,0,0,0.5);
}
.nav-bar-fast-browser li {
  margin: 5px 0 0 55px;
  font-size: 20px;

  cursor: pointer;
}
.nav-bar-fast-browser li:hover {
  animation-name: nav-bar-category-hover;
  animation-duration: 0.3s;
  animation-fill-mode: forwards;
}
.nav-bar-fast-browser li:not(:hover) {
  animation-name: nav-bar-category-not-hover;
  animation-duration: 0.3s;
  animation-fill-mode: forwards;
}
@keyframes nav-bar-category-hover {
  0% {
    margin-left: 55px;
  }
  100% {
    margin-left: 60px;
  }
}
@keyframes nav-bar-category-not-hover {
  0% {
    margin-left: 60px;
  }
  100% {
    margin-left: 55px;
  }
}

.enabled {
  animation-name: nav-bar-enabled;
  animation-duration: 0.5s;
  animation-fill-mode: forwards;
}
.disabled {
  animation-name: nav-bar-disabled;
  animation-duration: 0.5s;
  animation-fill-mode: forwards;
}

@keyframes nav-bar-enabled {
  0% {
    left: -400px;
  }
  100% {
    left: 0;
  }
}
@keyframes nav-bar-disabled {
  0% {
    left: 0;
  }
  100% {
    left: -400px;
  }
}

@media only screen and (max-width: 900px) {
  .nav-bar {
    width: 100%;
  }
}
