.sorter-modal-background {
  position: fixed;
  transform: translateY(-50%);
  top: 50%;
  left: 0;

  display: flex;
  justify-content: center;
  align-items: center;

  background-color: rgba(0, 0, 0, 0.5);

  width: 100%;
  height: 100%;
}

.sorter-modal-main {
  width: 70%;
  height: 70%;
  background-color: white;

  display: flex;
}

/* GENERAL */

.sorter-modal-main button {
  margin-left: 10px;
  padding: 5px;
  width: 80px;

  border: none;
  border-radius: 10px;
  background-color: rgb(226, 226, 226);

  cursor: pointer;
}
.sorter-modal-main button:hover {
  animation-name: category-button-hover;
  animation-fill-mode: forwards;
  animation-duration: 0.5s;
}
.sorter-modal-main button:not(:hover) {
  animation-name: category-button-not-hover;
  animation-fill-mode: forwards;
  animation-duration: 0.5s;
}
@keyframes category-button-hover {
  0% {
    background-color: rgb(226, 226, 226);
  }
  100% {
    background-color: rgb(189, 189, 189);
  }
}
@keyframes category-button-not-hover {
  0% {
    background-color: rgb(189, 189, 189);
  }
  100% {
    background-color: rgb(226, 226, 226);
  }
}
.sorter-modal-main input {
  margin: 15px 0 0 20px;
}

/* SECTION 1 */
/* SECTION 1 */
/* SECTION 1 */

.sorter-modal-main section:first-child {
  width: 30%;
  height: 500px;
  padding: 20px;

  display: flex;
  align-items: center;
  flex-direction: column;

  border-right: solid black 1px;
}
.sorter-modal-main section:first-child img {
  width: 50%;
}
.sorter-modal-main section:first-child div {
  width: 100%;
  height: 100%;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.sorter-modal-main section:first-child h2 {
  margin-bottom: 20px;
}
.category-switch-button {
  width: 90% !important;
  margin: 0 !important;

  font-size: 18px;
}
.category-save-or-cancel-form {
  display: flex;
  flex-direction: row;
  justify-content: center;

  margin: 0;
  width: 100%;
}
.category-save-or-cancel-form button {
  width: 90% !important;
  height: 40px;
  margin: 5px;

  font-size: 18px;
}
.category-save-or-cancel-form {
  margin-top: 40px;
}

/* SECTION 2 */
/* SECTION 2 */
/* SECTION 2 */

.sorter-modal-main section:nth-child(2) {
  width: 70%;
  margin: 20px;

  overflow-y: scroll;
}
.sorter-modal-sorters-title {
  font-size: 28px;
  color: rgba(0, 0, 0, 0.5);
  margin-bottom: 15px;
}

.sorter-modal-sorters-container {
  display: flex;
  flex-direction: column;

  margin: 0 0 20px 0;
}
.sorter-name {
  font-size: 22px;
  color: rgba(0, 0, 0, 0.5);
}
.sorter-value {
  display: flex;
  justify-content: center;
  align-items: center;

  width: fit-content;
  margin-left: 20px;
  cursor: pointer;
}

.sorter-value:hover {
  animation-name: sorter-value-hover;
  animation-duration: 0.3s;
  animation-fill-mode: forwards;
}
.sorter-value:not(:hover) {
  animation-name: sorter-value-not-hover;
  animation-duration: 0.3s;
  animation-fill-mode: forwards;
}

@keyframes sorter-value-hover {
  0% {
    margin-left: 20px;
  }
  100% {
    margin-left: 22px;
  }
}
@keyframes sorter-value-not-hover {
  0% {
    margin-left: 22px;
  }
  100% {
    margin-left: 20px;
  }
}

/* RESPONSIVE */

@media only screen and (max-width: 1200px) {
  .sorter-modal-main {
    flex-direction: column;
    align-items: center;

    width: 100%;
  }

  /* SECTION 1*/
  /* SECTION 1*/
  /* SECTION 1*/

  .sorter-modal-main section:first-child {
    width: 100%;
    height: 500px;
    padding: 0;

    display: flex;
    align-items: center;
    flex-direction: row;

    border-right: none;
  }
  .sorter-modal-main section:first-child img {
    width: 40%;
    max-width: 300px;
  }
  .sorter-modal-main section:first-child div {
    flex-direction: column;
    align-items: flex-start;

    height: 30%;
  }
  .category-switch-button {
    width: 70% !important;
    max-width: 340px;
    height: auto;
    padding: 10px 0 10px 0 !important;
    margin-bottom: 30px !important;
  }
  .category-save-or-cancel-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    margin: 0;
    width: 100%;
  }
  .category-save-or-cancel-form button {
    width: 70% !important;
    max-width: 340px;
    margin: 0;
    margin-bottom: 5px;
    
  }

  /* SECTION 2*/
  /* SECTION 2*/
  /* SECTION 2*/

  .sorter-modal-main section:nth-child(2) {
    justify-content: center;

    width: 90% !important;
    margin: 0;
  }
}
