.App {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

hr {
  margin: 55px 10% 55px 10%;
}

.nav-svg {
  display: flex;
  justify-content: center;
  align-items: center;
  
  position: fixed;
  top: 10%;
  left: 20px;
  transform: translateY(-90%);

  width: 70px;
  height: 70px;
}
.nav-svg svg {
  display: flex;
  justify-content: center;
  align-items: center;

  font-size: 38px;
  padding: 10px;

  background-color: rgb(226, 226, 226);
  border-radius: 50px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.278);
  cursor: pointer;

}
.nav-svg svg:hover {
  animation-name: svg-hover;
  animation-duration: 0.5s;
  animation-fill-mode: forwards;
}
.nav-svg svg:not(:hover) {
  animation-name: svg-not-hover;
  animation-duration: 0.5s;
  animation-fill-mode: forwards;
}
@keyframes svg-hover {
  0% {
    padding: 10px;
  }
  100% {
    padding: 14px;
  }
}
@keyframes svg-not-hover {
  0% {
    padding: 14px;
  }
  100% {
    padding: 10px;
  }
}



/* TOP PRODUCTS */


.top-products-title {
  font-weight: bold;
  font-size: 24px;
  text-transform: uppercase;
  color: rgba(0, 0, 0, 0.3);

  margin: 0;
}

.top-products-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;

  width: 100%;
}

/* CATEGORIES */

.home-categories-container {
  display: flex;
  overflow-x: auto;

  margin-bottom: 150px;
}



@media only screen and (max-width: 900px) {
  .nav-svg {
    width: 40px;
    height: 40px;
  }
  .nav-svg svg {
    font-size: 22px;
  }
}
