
.product-page {
    display: flex;
    flex-direction: column;
    align-items: center;

    height: 100vh;
}

.product-page header {
    display: flex;
    align-items: center;
    justify-content: space-between;
  
    width: 100%;
    height: 70px;
    margin-bottom: 50px;
  
    background-color: rgb(226, 226, 226);
    box-shadow: -1px 0 5px rgba(0, 0, 0, 0.5);
}
.product-page-main-div {
    width: 90%;

    display: flex;
    flex-direction: row;
}

.product-page-data {
    display: flex;
    flex-direction: column;

    width: 40%;
}
.product-page-main-data {
    display: flex;
}

.product-page header h1 {
    margin-left: 40px;
}

.product-page-images {
    display: flex;
    flex-direction: column;
}
.product-page-main-image {
    width: 300px;
    cursor: pointer;
}
.product-page-images-container {
    display: flex;
    cursor: pointer;
}
.product-page-images-container img {
    width: 50px;
    margin: 5px;
}
.image-modal-main {
    position: absolute;
    z-index: 2;
    background-color: rgba(0, 0, 0, 0.8);

    width: 100%;
    height: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.image-modal-main :first-child {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    margin-bottom: 10px;
}
.image-modal-main :first-child img {
    width: 500px;
    height: 500px;

    object-fit:contain;
}
.image-modal-main p {
    font-size: 40px;
    color: white;
    margin: 0 20px 0 20px;
    cursor: pointer;
    user-select: none;
}
.image-modal-main :nth-child(2) {
    display: flex;
}
.image-modal-main :nth-child(2) img {
    width: 100px;
    height: 100px;
    margin: 0 5px 0 5px;

    object-fit: cover;
    cursor: pointer;
}

.product-header {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    margin-left: 30px;
}

.product-price {
    margin: 10px 0 10px 0;

    font-size: 22px;
}
.product-page-in-cart {
  width: 200px;
  height: 40px;

  border: none;
  border-radius: 10px;
  background-color: rgb(226, 226, 226);

  display: flex;
  justify-content: center;
  align-items: center;
}
.product-description {
    margin-top: 20px;
}

.product-characteristics {
    display: flex;

    margin-top: 50px;
}


/* ANOTHER PRODUCTS */

.another-products {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;

    width: 40%;
    margin-left: auto;
}
.another-products-title {
    font-size: 28px;
    color: rgba(0, 0, 0, 0.3);

    margin-left: 15px;
}
.another-products-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}



@media only screen and (max-width: 1000px) {
    .product-page h1 {
        margin: 0 !important;
        width: 100%;
        text-align: center;
    }
    .product-page-main-div {
        flex-direction: column;
    }

    .product-page-data {
        width: 95%;
    }
    .product-page-main-data {
        flex-direction: column;
    }
    .product-page-main-data div {
        align-items: center;
        margin-left: 0;
    }
    .product-page-main-data h2 {
        text-align: center;
    }
    .product-characteristics {
        display: flex;

        margin-top: 50px;
    }

    .another-products {
        display: flex;
        flex-direction: column;
        justify-content: center;
    
        width: 95%;
        margin-left: 0;
        margin-top: 30px;
    }
    .another-products-title {
        font-size: 28px;
        text-align: center;
        color: rgba(0, 0, 0, 0.3);
    
        margin-left: 0;
    }
    .another-products-container {
        justify-content: center;
    }
}

@media only screen and (max-width: 680px) {
    .image-modal-main :first-child img {
        width: 300px;
        height: 300px;
    
        object-fit:contain;
    }
}
@media only screen and (max-width: 430px) {
    .image-modal-main :first-child img {
        width: 200px;
        height: 200px;
    
        object-fit:contain;
    }
}